<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.foodhub.stats.StatsDAO">

    <!-- 오늘 날짜의 방문자 통계 조회 -->
    <select id="getVisitorCnt" resultType="Long">
        SELECT	STAT_CNT
        FROM 	STATS
        WHERE 	CATEGORY_ID = #{categoryId}
        AND 	STAT_DATE = #{statDate}
    </select>

    <!-- 방문자 수 증가 -->
    <update id="incrementVisitorCnt">
        INSERT INTO STATS (
            CATEGORY_ID,
            STAT_DATE,
            STAT_CNT,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{categoryId},
            #{statDate},
            1,
            NOW(),
            NOW()
        )
        ON DUPLICATE KEY UPDATE
        STAT_CNT 	= STAT_CNT + 1,
        UPDATED_AT 	= NOW()
    </update>

    <!-- 새로운 통계 기록 삽입 -->
    <insert id="insertVisitorStats">
        INSERT INTO STATS (
            CATEGORY_ID,
            STAT_DATE,
            STAT_CNT,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{categoryId},
            #{statDate},
            0,
            NOW(),
            NOW()
        )
    </insert>

    <!-- 방문자 로그 삽입 -->
    <insert id="insertVisitorLog" parameterType="com.application.foodhub.stats.VisitorLogDTO">
        INSERT INTO VISITOR_LOG (
        	IP_ADDRESS, 
        	VISIT_TIME, 
        	USER_ID
       	)
        VALUES (
        	#{ipAddress}, 
        	NOW(), 
        	#{userId}
       	)
    </insert>

    <!-- 사용자별 방문 횟수 조회 -->
    <select id="getUserVisitCnt" resultType="Long">
        SELECT 	COUNT(*)
        FROM 	VISITOR_LOG
        WHERE 	USER_ID = #{userId}
    </select>

    <!-- 전체 기간 방문자 수 조회 -->
    <select id="getTotalVisitorCnt" resultType="Long">
        SELECT 	COUNT(*)
        FROM 	VISITOR_LOG
    </select>
    
    <!-- 오늘 날짜 게시글 신고 통계 조회 -->
    <select id="getPostReportCnt" resultType="Long">
        SELECT	STAT_CNT
        FROM 	STATS
        WHERE 	CATEGORY_ID = #{categoryId}
        AND 	STAT_DATE = #{statDate}
    </select>
    
    <!-- 새로운 통계 기록 삽입 -->
    <insert id="insertPostReport">
        INSERT INTO STATS (
            CATEGORY_ID,
            STAT_DATE,
            STAT_CNT,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{categoryId},
            #{statDate},
            1,
            NOW(),
            NOW()
        )
    </insert>
    
    <!-- 게시글 신고 수 증가 -->
    <update id="increasePostReportCnt">
        INSERT INTO STATS (
            CATEGORY_ID,
            STAT_DATE,
            STAT_CNT,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{categoryId},
            #{statDate},
            1,
            NOW(),
            NOW()
        )
        ON DUPLICATE KEY UPDATE
        STAT_CNT 	= STAT_CNT + 1,
        UPDATED_AT 	= NOW()
    </update>
    
    <!-- 오늘 날짜 댓글 신고 통계 조회 -->
    <select id="getCommentReportCnt" resultType="Long">
        SELECT	STAT_CNT
        FROM 	STATS
        WHERE 	CATEGORY_ID = #{categoryId}
        AND 	STAT_DATE = #{statDate}
    </select>
    
    <!-- 새로운 통계 기록 삽입 -->
    <insert id="insertCommentReport">
        INSERT INTO STATS (
            CATEGORY_ID,
            STAT_DATE,
            STAT_CNT,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{categoryId},
            #{statDate},
            1,
            NOW(),
            NOW()
        )
    </insert>
    
    <!-- 댓글 신고 수 증가 -->
    <update id="increaseCommentReportCnt">
        INSERT INTO STATS (
            CATEGORY_ID,
            STAT_DATE,
            STAT_CNT,
            CREATED_AT,
            UPDATED_AT
        )
        VALUES (
            #{categoryId},
            #{statDate},
            1,
            NOW(),
            NOW()
        )
        ON DUPLICATE KEY UPDATE
        STAT_CNT 	= STAT_CNT + 1,
        UPDATED_AT 	= NOW()
    </update>

</mapper>